.custom-nav-links {
  padding: 16px 24px;
}

.custom-nav-links a {
  display: block;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-1);
  transition: color 0.25s;
  text-decoration: none;
}

.custom-nav-links a:hover {
  color: var(--vp-c-brand);
}

@media (min-width: 768px) {
  .custom-nav-links {
    display: none;
  }
}